appdirs==1.4.4
asgiref==3.4.1
astroid==2.8.4
attrs==21.2.0
autopep8==1.6.0
Babel==2.6.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
blivet==3.2.2
Brlapi==0.6.7
cached-property==1.5.2
certifi==2021.10.8
chardet==3.0.4
chrome-gnome-shell==0.0.0
configobj==5.0.6
cupshelpers==1.0
dasbus==1.2
dbus-python==1.2.4
decorator==4.3.0
defusedxml==0.7.1
distlib==0.3.3
Django==3.2.8
django-filter==21.1
djangorestframework==3.12.4
docutils==0.14
ebaysdk==2.1.5
ethtool==0.14
file-magic==0.3.0
filelock==3.3.2
freezegun==0.3.11
gevent==1.1.2
gpg==1.13.1
greenlet==0.4.10
html2text==2018.1.9
html5lib==0.999999999
idna==2.6
importlib-metadata==4.8.1
importlib-resources==5.4.0
iniparse==0.4
initial-setup==0.3.81.7
isc==2.0
isodate==0.6.0
isort==5.9.3
Jinja2==2.10.1
langtable==0.0.51
lazy-object-proxy==1.6.0
libsass==0.17.0
lxml==3.7.1
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
mod-wsgi==4.6.4
nftables==0.1
ntplib==0.3.3
num2words==0.5.6
ofxparse==0.19
ordered-set==2.0.2
passlib==1.7.1
perf==0.1
pexpect==4.3.1
pid==2.1.1
Pillow==5.4.1
platformdirs==2.4.0
ply==3.9
polib==1.1.0
productmd==1.11
psutil==5.6.6
psycopg2==2.7.7
psycopg2-binary==2.9.1
ptyprocess==0.5.2
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.3
pycodestyle==2.8.0
pycups==1.9.72
pycurl==7.43.0.2
pydbus==0.6.0
pydot==1.4.1
pyenchant==2.0.0
pygobject==3.28.3
pyinotify==0.9.6
pykickstart==3.16.11
pylint==2.11.1
pyparsing==3.0.6
pyparted==3.11.0
PyPDF2==1.26.0
pyserial==3.4
PySocks==1.6.8
python-dateutil==2.7.3
python-dmidecode==3.12.2
python-ldap==3.1.0
python-linux-procfs==0.6.3
python-meh==0.47.2
python-stdnum==1.8
pytz==2019.1
pyudev==0.21.0
pyusb==1.0.2
pyxdg==0.25
PyYAML==3.12
qrcode==6.1
reportlab==3.5.13
requests==2.21.0
requests-file==1.4.3
requests-ftp==0.3.1
requests-toolbelt==0.9.1
rpm==4.14.3
schedutils==0.6
selinux==2.9
sepolicy==1.1
setools==4.3.0
setroubleshoot==1.1
simpleline==1.1.1
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.0
soupsieve==2.3.1
sqlparse==0.4.2
SSSDConfig==2.4.0
subscription-manager==1.28.13
syspurpose==1.28.13
systemd-python==234
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.24.2
virtualenv==20.10.0
vobject==0.9.6.1
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.13.2
xlrd==1.1.0
XlsxWriter==1.1.2
xlwt==1.3.0
zeep==3.2.0
zipp==3.6.0
